@media(max-width:1440px){
    .hero .hero-container .image{
        max-width: 100%;
    }
}

@media(max-width:1320px){
    .hero .hero-container .image{
        max-width: 50%;
    }
}

@media(max-width:768px){
    
    .hero .hero-container .image{
        max-width: 100%;
    }
    
    .hero .hero-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 54px;
    }

    .hero .hero-container .hero-info h1{
        font-size: 35px;
    }

    .hero .hero-container .hero-info p{
        font-size: 16px;
    }

    footer{
        padding: 0px 60px  50px 0px;
    }
}

    @media(max-width:375px){
    html{
        background: url(../image/bg-mobile.svg) no-repeat;
        background-color: var(--primary);
    }

    .header{
        padding: 20px;
    }

    .header img{
        height: 40px;
        width: 135px ; 
    }

    .hero .hero-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .hero .hero-container .hero-info{
        text-align: center;
        padding: 5px ;
    }

    .hero .hero-container .hero-info h1{
        font-size: 25px;
        margin-top: 40px;
    }

    .hero .hero-container .hero-info p{
        font-size: 17px;
    }

    .hero .hero-container .hero-info .btn{
        font-size: 15px;
        font-weight: 400;
        padding: 12px 75px;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        margin-top: 40px;
    }

} 
