html{
    min-height: 100vh;
    background: url(../image/bg-desktop.svg) no-repeat;
    background-color: var(--primary);  
    background-size: cover;
}

.header{
    padding-left: 80px;
    margin-bottom: 20px;
    padding-top: 30px;
}

.header img{
    width: 215px;
        
}

.hero .hero-container{
    display: flex;
    align-items: center;
    padding: 90px 5px 0 80px ;
}

.hero .hero-container .hero-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0px 80px 140px 54px;
}

.hero .hero-container h1{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

.hero .hero-container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 27px;
    color: rgb(216, 216, 216);    
}

.hero .hero-container .btn{
    color: var(--primary);
    background-color: #ffff;
    font-size: 16px;
    font-weight: 400;   
    border-radius: 100px;
    padding: 12px 55px;
    box-shadow: 0 8px 17px -8px black;
    transition: 0.5s ease-in-out;
    
}

.hero .hero-container a:hover , .botao:hover{
    color: #ffff;
    background-color: var(--primary-soft);    
}

footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 60px;
}

footer a i{
    color: #ffff;
    font-size: 15px;
    position: relative;
    transition: all .3s ease;
}

footer a:nth-child(n+2):nth-child(-n+3){
    margin-left: 2rem;
}

  footer a i::after{
    content: '';
    position: absolute;
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    left: -12px;
    bottom: -11px;
    transition: 0.3s ease-in-out;
}

 footer a i.fa-facebook-f::after{
    content: '';
    position: absolute;
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    left: -14px;
    bottom: -11px;
    transition: 0.3s ease-in-out;
}

footer a .fa-twitter{
    margin-left: 0.2rem;
}

footer a:hover i{
    color: var(--primary-soft);
}

footer a i:hover::after{
    border-color: var(--primary-soft);
}

